@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
    color: #0e3c70;
    font-weight: 500;
    color: white;
}
h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
header{
    display: flex;
    justify-content: center;
    background: #D9E1E8;
    position: fixed;
    width: 100%;
}
header a{
    color: #222222;
}
.header-content{
    display: flex;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0px 12px;
}
.header-logo img{
    width: 120px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.buttons a{
    text-decoration: none;
    padding: 5px 10px;
    white-space: nowrap;
    text-align: center;
}
.active{
    color: rgb(194, 165, 0);
    font-weight: 500;
    border-bottom: 2px solid rgb(194, 165, 0);
}
.buttons a:hover{
    color: #034f84;
    font-weight: 600;
    border-bottom: 2px solid #2f6e9b;
    border-top: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./images/bg-site.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.8;
}
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
main{
    padding-top: 200px;
    display: flex;
    justify-content: center;
}
.section1{
    border-radius: 10px;
    padding: 30px;
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}
.section1 h1{
    color: rgb(252, 224, 70);
    font-size: 60px;
    font-family: 'Playfair Display', Georgia, serif; 
    font-weight: 900;
    display: flex;
}
.section1 h2 {
    font-size: 40px;
    font-family: 'Playfair Display', Georgia, serif;
    font-weight: 700;
}
.location-img img{
    width: 20px;
}
.location-box{
    display: flex;
    gap: 15px;
}
.section1-buttons{
    display: flex;
    gap: 15px;
}
.section1-buttons a{
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    transition: background-color 1s, color 1s;
}
.section1-buttons a:hover{
    background: white;
    color: #8d8d8d;
}
.gap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#burger, [for=burger]{
    display: none;
}
[for=burger] img{
    width: 50px;
}
@media (max-width: 1000px){
    [for=burger]{
        display: block;
    }
    .buttons{
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 70px;
        right: 20px;
        background: #D9E1E8;
        padding: 10px;
        border-radius: 10px;
    }
    #burger:checked + label + .buttons{
        display: flex;
    }
}
@media (max-width: 800px){
    .h1h2 h1{
        font-size: 45px;
    }
    .h1h2 h2{
        font-size: 35px;
    }
}
@media (max-width: 554px) {
    .h1h2 h1 {
        font-size: 35px;
        font-weight: 800;
    }

    .h1h2 h2 {
        font-size: 25px;
        font-weight: 800;
    }
    .buttons a{
        padding: 2.5px 5px;
    }
    .section1-buttons a{
        padding: 5px 10px;
    }
}
@media (max-width: 400px) {
    .h1h2 h1 {
        font-size: 30px;
        font-weight: 700;
    }

    .h1h2 h2 {
        font-size: 25px;
        font-weight: 700;
    }
}
@media (max-width: 364px){
    .section1-buttons{
        flex-direction: column;
    }
}